.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.aboutCardContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 5rem;
}
.header {
    color: white;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
}
.header h1 {
    font-size: 35px;
    font-weight: bold;
}
.card {
    background-color: var(--card-color);
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 250px;
    height: 220px;
    padding: 10px;
    margin: 1rem 2.7rem;
    border-radius: 5px;
}
.cardTitle {
    color: white;
    font-size: 20px;
    margin: 7px 0 5px 0;
}
.cardContent {
    font-size: 30px;
    margin-bottom: 7px;
}
.cardSubject {
    font-weight: 600;
    color: var(--dark-green);
}


@media (max-width: 480px) {
    .aboutCardContainer {
        padding-bottom: 10rem;
    }
}
@media (max-width: 1024px) {
    .header {
        margin-top: 2rem;
    }
    .card {
        height: 200px;
        width: 230px;
        font-size: 17px;
    }
    .card h1 {
        font-size: 29px;
    }
}
