.fadeInFromTop {
    animation-name: fadeInFromTop;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-25%)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}
.fadeInFromBottom {
    animation-name: fadeInFromBottom;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translate(-50%,0)
    }
    100% {
        opacity: 1;
        transform: translate(-50%,-50%)
    }
}
