.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}
.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.contactContainer h1 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 3rem;
}

.contactContainer {
  background: var(--card-color);
  width: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  margin-top: 6rem;
  max-width: 90%;
  min-width: 300px;
}

.inputContainer {
  display: flex;
  width: 85%;
  max-width: 100%;
  flex-direction: column;
  margin-bottom: 1.7rem;
}

.label {
  font-weight: 600;
  color: var(--bright-green);
  fon-size: 19px;
  margin-bottom: 3px;
}

.input,
.textarea {
  font-size: 20px;
  color: white;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
}

.textarea {
  height: 90px;
  resize: none;
}

.button {
  width: 85%;
  transition: all 0.2s ease;
  background-color: var(--dark-green);
  border: none;
  border-radius: 5px;
  font-size: 21px;
  cursor: pointer;
  padding: 7px 0;
  color: white;
  font-wweight: semibold;
  margin-top: 3rem;
}

.button:hover {
  background-color: var(--bright-green);
  color: black;
}
.button:disabled {
  background-color: var(--dark-green);
  cursor: default;
  color: white;
}

@media (max-width: 1024px) {
  .contactContainer {
    margin-top: 3rem;
    width: 400px;
  }
  .button {
    margin-top: 2rem;
  }
}
