:root {
  --background-color: #111218;
  --card-color: #222430b1;
  --bright-green: #49fc8e;
  --dark-green: #33b063;
  --dark-white: rgba(255, 255, 255, 0.699);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--bright-green);
  overflow: overlay;
}
::-webkit-scrollbar-thumb {
  background: white;
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: none;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}
::-webkit-scrollbar {
  width: 0px;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
