/*      INDEX PAGE      */
.container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    opacity: 0;
    line-height: 1.35;
}
.header h3 {
    color: white
}
.header h2 {
    color: var(--dark-white);
    font-size: 30px;
    line-height: 1.3;
    text-align: center;
}
.header h2 span {
    color: var(--bright-green);
}
/*      IMAGE       */

.imageContainer{
    width: 90%;
    height: 80%;
    position: fixed; 
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    vertical-align: top;
}


.buttonContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}


.button {
    width: 50%;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 20px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--dark-green);
    transition: all 0.2s linear;
}

.button:hover {
    color: black;
    background-color: var(--bright-green)
}