.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}
.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.header {
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  color: white;
}
.header h1 {
  font-weight: bold;
  font-size: 35px;
}
.skillsContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 6rem;
}
.card {
  background: var(--card-color);
  padding: 50px 0 1.5rem 0;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1rem;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
.imageContainer {
  min-width: 100px;
  min-height: 100px;
  max-width: 150px;
  max-height: 150px;
  position: relative;
  max-width: 150px;
}
.skillTitleContainer {
  margin: 2.5rem 0 1rem 0;
}

.tabsContainer {
  display: flex;
  margin-bottom: 1.5rem;
}
.tab {
  padding: 5px 0;
  border-radius: 5px;
  font-size: 18px;
  background-color: var(--card-color);
  margin: 0 5px;
  width: 100px;
  text-align: center;
  font-weight: semibold;
  cursor: pointer;
  color: var(--dark-green);
  transition: all 0.2s linear;
}
.tab:hover {
  background-color: var(--background-color);
  color: var(--bright-green);
}
.activeTab {
  background-color: var(--background-color);
  color: var(--bright-green);
}

@media (max-width: 480px) {
  .skillsContainer {
    padding-bottom: 10rem;
  }
}

@media (max-width: 1024px) {
  .card {
    margin: 0 20px 1rem 20px;
  }
  .skillsContainer {
    padding-bottom: 10rem;
  }
}
